<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Link hub</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<h1>
    Link hub
</h1>
<p>
    Simple page for linking to other URLs.
    <br><br>
    Designed for managing multiple localhost web apps.
    <br><br>
    Implemented with a minimalist UI because cba with CSS.
</p>

<!-- Apps -->
<div class="GridWrapper">
    <div class="GridArea">
        {{ range .Apps }}
        <div class="GridItem" onClick="parent.open('{{ .Url }}')">
            <p>{{ .Name }}</p>
        </div>
        {{ end }}
    </div>
</div>

</body>
</html>